<div>
  <div class = "main-visual">
    <div class="main-visual">
      <div class="main-visual-content">
        <p class="main-visual-text">
          Easy  Parking
        </p>
      </div>
    </div>
  </div>
  <div class="max-w-md mt-5">
    <div class="text-center">
      <h1 class="font-kaisei mb-3">EasyParkingとは</h1>
      <div class="text-base mx-auto">
        <p>　Easy Parkingは、初心者もしくは運転が苦手な人でも停めやすい駐車場や忙しい人でも事故を起こすことのない駐車場など</p>
        <p>簡単に停められる駐車場を投稿・共有する駐車場検索サービスです。</p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="mb-6 p-4 flex flex-col text-center items-center">
        <div class=" justify-center mb-5 ">
        </div>
        <div class="flex-grow">
          <h2 class="font-kaisei text-gray-900 text-lg title-font font-medium mb-3">こんな困りごとはありませんか？</h2>
          <p class="leading-relaxed text-base">　駐車が苦手でパーキングを探すのに苦労する。狭い駐車場で事故を起こしたくない。小さい子供がいるから広い駐車場がいい</p>
          <p class="leading-relaxed text-base">旅行先での駐車場が不安。一度狭い駐車場でぶつけたことがある。車体が大きいから余裕を持って駐車できれば、、、。etc.
        </div>
      </div>
      <div class="mb-6 p-4 flex flex-col text-center items-center">
        <div class="mb-5">
        </div>
        <div class="flex-grow">
          <h2 class="font-kaisei text-lg mb-3">その悩みを解決できたら？？</h2>
          <p class="leading-relaxed text-base text-gray-500"> 知らない土地でも駐車がしやすくなってノンストレス！！駐車場探しもカンタンに！</p>
        </div>
      </div>
      <div class="mb-6 p-4 flex flex-col text-center items-center">
        <div class="inline-flex items-center mb-5">
        </div>
        <div class="flex-grow">
          <h2 class="font-kaisei text-lg mb-3">早速ユーザー登録をしてパーキングの情報を共有しよう！！</h2>
          <p class="leading-relaxed text-base">　ユーザー登録を済ませたら、ページ下部の「投稿」ボタンから、あなたが見つけたお気に入りのスポットを投稿してみましょう。</p>
          <p>スポット情報の詳細を記入しみんなに共有することができます。</p>
        </div>
      </div>
    </div>
</div>